header {
 
    display: flex;    
    background-color: rgb(212, 94, 94);
    padding-top: 10px;
    padding-right: 36px;
    padding-bottom: 10px;
    padding-left: 36px;
    text-align: center;
  
        }


